@media screen and (max-width: 900px) and (min-width: 800px){
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar-toggle{
    display: none;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  body {
    margin-top: -8px;
    margin-right: -0px;
    margin-left: -9px;
  }
  .nav-one {
    margin-left: 9px;
    justify-content: space-between;
    display: flex;
    padding: 2px 8px;
    height: 35px;
    background-color: rgb(59, 59, 59);
    align-items: center;
  }
  .nav-icons {
    display: flex;
  }
  .nav-icon-one {
    background: gray;
    margin: 4px;
    height: 20px;
    width: 20px;
    color: rgb(216, 216, 216);
    border-radius: 9999px;
    justify-items: center;
  }
  .nav-icon-one-text-a {
    text-align: center;
    font-size: 16px;
  }
  .nav-icon-one-text-b {
    margin-top: 2.5px;
    text-align: center;
    font-size: 12px;
  }
  .nav-icon-one-text-c {
    margin-top: 2px;
    text-align: center;
    font-size: 12px;
  }
  .nav-icon-one-text-d {
    margin-top: 2px;
    text-align: center;
    font-size: 14px;
  }
  .nav-icon-one-text-e {
    margin-top: 5px;
    text-align: center;
    font-size: 9px;
  }
  .nav-one-contact {
    gap: 10px;
    align-items: center;
    color: white;
    display: flex;
    font-size: 12px;
  }
  
  .navvv {
    align-items: center;
    gap: 5px;
    display: flex;
    align-items: center;
  }
  
  .nav-one-btn {
    align-items: center;
    font-size: 12px;
    border-radius: 6%;
    border: transparent;
    height: 20px;
    background-color: #a2d84c;
    box-shadow: 2px rgb(74, 77, 73);
  }
  /* navbar on end */
  
  /* navbar two start */
  .nav-two {
    display: flex;
    justify-content: space-between;
    background: #fff;
    height: 65px;
    width: auto;
    padding-left: 30px;
    padding-right: 20px;
    align-items: center;
  }
  .nav-two-text {
    display: flex;
    list-style: none;
    gap: 20px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: lighter;
  }
  /* navbar two end */
  
  /* home start */
  .home {
    position: absolute;
    display: flex;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    margin: 0px 0px 150px 0px;
  }
  
  .home-bg {
    overflow: hidden;
    z-index: -1;
    position: absolute;
    display: flex;
    width: 100%;
    object-fit: cover;
  }
  
  .home-content {
    z-index: 1;
    position: relative;
    color: white;
    margin-top: 120px;
    justify-items: center;
  }
  
  .home-content h1 {
    font-size: 25px;
    text-transform: uppercase;
  }
  .home-head-div {
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .home-empty-one {
    height: 70px;
    width: 300px;
    background-color: #a2d84c;
  }
  .home-empty-two {
    height: 70px;
    width: 300px;
    background-color: #a2d84c;
  }
  .home-p {
    max-width: 420px;
    min-width: 100px;
    font-size: 12px;
    text-align: center;
  }
  .home-btn {
    border-radius: 3px;
    background: #ffbd1a;
    box-shadow: 0.6px 3px #ed9622;
    border: #ed9622;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    text-transform: uppercase;
  }
  /* home end */
  
  /* why us section start */
  .why-us {
    background-color: #fff;
    padding-top: 70px;
    padding-bottom: 50px;
    justify-items: center;
    text-align: center;
    border: #d9dbdc;
    border-top: 3px gray solid;
  }
  
  .why-h {
    font-size: 30px;
    text-transform: uppercase;
  }
  .why-h-span {
    color: #668e19;
  }
  .why-p {
    color: #bcbec0;
    font-size: 14px;
    max-width: 600px;
    min-width: 300px;
  }
  .why-box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
  }
  .why-one {
    justify-items: center;
  }
  
  .why-img {
    background-color: #f1f2f2;
    border-radius: 9999px;
    width: 155px;
    height: 135px;
    padding-top: 25px;
  }
  .why-content {
    width: 220px;
  }
  .why-p-two {
    font-size: 11px;
    color: #bcbec0;
  }
  .why-p-one {
    font-size: 19px;
    text-transform: uppercase;
  }
  /* why us section start */
  
  /* about us start */
  .aboutus {
    border: #d9dbdc;
    border-top: 3px gray solid;
    position: relative;
    height: screen;
  }
  .about-img {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .about-h {
    margin-bottom: 0px;
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    align-items: center;
    text-align: center;
  }
  .about-h-span {
    color: #668e19;
  }
  .about-content {
    justify-items: left;
    padding-top: 2px;
    position: relative;
    margin-left: 50px;
    max-width: 350px;
    min-width: 300px;
    font-size: 14px;
  }
  .about-content p{
    
    font-size: 14px;
  }
  .about-btn {
    border-radius: 3px;
    margin-top: 0px;
    background: #ffbd1a;
    box-shadow: 0.6px 3px #ff831d;
    border: #ff831d;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  /* about end */
  
  /* services start */
  .services {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 50px;
    justify-items: center;
    text-align: center;
    border: #d9dbdc;
    border-top: 3px gray solid;
  }
  .ser-h {
    font-size: 30px;
    text-transform: uppercase;
  }
  .ser-h-span {
    color: #668e19;
  }
  .ser-p {
    color: #bcbec0;
    font-size: 14px;
    max-width: 650px;
    min-width: 300px;
  }
  
  .ser-boxs {
    gap: 30px;
    display: grid;
    grid-template-columns: auto auto  ;
    justify-items: center;
  }
  
  .ser-box-one {
    background-color: #f1f2f2;
    justify-items: center;
    max-width: 200px;
    height: 140px;
    width: 110px;
    padding: 40px 80px;
    margin-top: 64px;
  }
  .ser-box-one-img {
    position: relative;
    margin-top: -85px;
    height: 90px;
    width: 90px;
  }
  .ser-box-one h3 {
    font-weight: 400;
    text-transform: uppercase;
  }
  .ser-box-one p {
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #afb1b4;
    text-align: center;
    width: 13rem;
  }
  .ser-box-one a {
    color: #668e19;
  }
  
  /* services end */
  
  /* portfolio start */
  .portfolio {
    background-color: #212121;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
    justify-items: center;
    text-align: center;
    border: #d9dbdc;
    border-top: 3px gray solid;
  }
  .port-h {
    font-size: 30px;
    text-transform: uppercase;
  }
  .port-h-span {
    color: #668e19;
  }
  .port-p {
    color: #bcbec0;
    font-size: 13px;
    max-width: 550px;
    min-width: 300px;
  }
  .port-div {
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .port-div-ul {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    font-size: 12px;
    gap: 20px;
    justify-items: center;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
  }
  .port-imgs-div-one {
    justify-items: center;
    margin-top: 28px;
    display: grid;
    grid-template-columns: auto auto auto ;
  }
  .img2 {
    background-color: #5e5e5e;
  }
  .img3 {
    background-color: #d1d3d4;
  }
  .img4 {
    background-color: #838383;
  }
  .img5 {
    background-color: #a3a3a3;
  }
  .img6 {
    background-color: #ef4136;
  }
  /* portfolio end */
  
  /* process start */
  .process {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 50px;
    justify-items: center;
    text-align: center;
    border: #d9dbdc;
    border-top: 3px gray solid;
  }
  
  .pro-h {
    font-size: 30px;
    text-transform: uppercase;
  }
  .pro-h-span {
    color: #668e19;
  }
  .pro-p {
    color: #bcbec0;
    font-size: 13px;
    max-width: 550px;
    min-width: 300px;
  }
  .pro-box {
    overflow: hidden;
    border: 2px solid transparent;
    height: fit-content;
    width: 740px;
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto  ;
    grid-gap: 49px;
  }
  .pro-one {
    justify-items: center;
  }
  
  .pro-p-two {
    width: 150px;
    font-size: 13px;
    color: #bcbec0;
  }
  .pro-p-one {
    font-size: 15px;
    font-weight: lighter;
    text-transform: uppercase;
  }
  
  .pro-img img {
    background-color: #fff;
    border: #dadcdd 3px solid;
    border-radius: 9999px;
    width: 130px;
    height: 130px;
    justify-items: center;
  }
  .pro-img-ph img {
    background-color: #fff;
    border: #dadcdd 3px solid;
    border-radius: 9999px;
    width: 130px;
    height: 130px;
  }
  .pro-img-gear {
    margin-right: -8px;
    background-color: #fff;
    border: #dadcdd 3px solid;
    border-radius: 9999px;
    width: 120px;
    height: 80px;
    padding-top: 60px;
    padding-right: 20px;
    margin-left: -10px;
    justify-items: center;
  }
  .mini-content-one {
    margin-left: 0px;
    position: relative;
    margin-bottom: -15px;
    font-weight: 800;
    height: 30px;
    width: 30px;
    background-color: #ffbd1a;
    border-radius: 9999px;
  }
  .mini-content {
    margin-left: 60px;
    position: relative;
    margin-bottom: -15px;
    font-weight: 800;
    height: 30px;
    width: 30px;
    background-color: #ffbd1a;
    border-radius: 9999px;
  }
  .mini-content p {
    padding-top: 3px;
  }
  .pro-one .mini-content-one::after {
    content: "";
    position: absolute;
    top: 300%;
    left: 270%;
    height: 4px;
    width: 64px;
    background-color: #d6d7d8;
    overflow-x: hidden;
  }
  .pro-two .mini-content::after {
    content: "";
    position: absolute;
    top: 300%;
    left: 270%;
    height: 4px;
    width: 64px;
    background-color: #d6d7d8;
    overflow-x: hidden;
  }
  .pro-four .mini-content::after {
    content: "";
    position: absolute;
    top: 300%;
    left: 250%;
    height: 4px;
    width: 70px;
    background-color: #d6d7d8;
    overflow-x: hidden;
  }
  .pro-five .mini-content::after {
    content: "";
    position: absolute;
    top: 300%;
    left: 270%;
    height: 4px;
    width: 64px;
    background-color: #d6d7d8;
    overflow-x: hidden;
  }
  /* process section end */
  
  /* people about us start */
  .people {
    background-color: #e3e4e5;
    border: #d9dbdc;
    border-top: 3px gray solid;
    position: relative;
    height: screen;
    padding-top: 10px;
    justify-items: center;
  }
  .people-h {
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    align-items: center;
    text-align: center;
  }
  .people-h-span {
    color: #668e19;
  }
  .people-p {
    color: #bcbec0;
    font-size: 13px;
    max-width: 500px;
    min-width: 300px;
    text-align: center;
  }
  
  .peoples {
    padding: 28px 50px 70px 50px;
    display: grid;
    grid-template-columns: auto ;
    justify-items: center;
    grid-gap: 10px;
  }
  .peo-box-one {
    border-bottom: 2px solid #c3c3c4;
    display: flex;
    padding: 15px 10px;
    gap: 20px;
    max-width: 500px;
    min-width: 300px;
    align-items: center;
  }
  
  .peo-box-two {
    border-bottom: 2px solid #c3c3c4;
    display: flex;
    padding: 15px 10px;
    gap: 20px;
    max-width: 500px;
    min-width: 300px;
    align-items: center;
  }
  
  .peo-box-three {
    border-bottom: 2px solid #c3c3c4;
    display: flex;
    padding: 15px 10px;
    gap: 20px;
    max-width: 500px;
    min-width: 300px;
    align-items: center;
  }
  
  .peo-box-four {
    display: flex;
    padding: 15px 20px;
    gap: 20px;
    max-width: 500px;
    min-width: 300px;
    align-items: center;
  }
  
  .peo-box-one-content h3 {
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
  }
  .peo-box-one-content p {
    font-weight: 100;
    font-size: 14px;
  }
  
  /* people about us end */
  
  /* skills start */
  .skill {
    padding-top: 10px;
    background-color: #fff;
    border: #d9dbdc;
    border-top: 3px gray solid;
    position: relative;
    height: screen;
    justify-items: center;
  }
  .skill-h {
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
  }
  .skill-h-span {
    color: #668e19;
  }
  .skill-p {
    color: #bcbec0;
    font-size: 13px;
    max-width: 500px;
    min-width: 300px;
    text-align: center;
  }
  
  .skills {
    justify-content: center;
    display: grid;
    grid-template-columns: auto  auto  ;
    gap: 90px;
    width: 805px;
    height: fit-content;
    justify-items: center;
    margin: auto;
    margin-top: 40px;
  }
  .skill-one {
    justify-items: center;
    align-items: center;
  }
  .skill-circles {
    position: relative;
  }
  .skill-one {
    height: 100%;
    width: 200px;
    text-align: center;
  }
  .skill-circle-one {
    position: relative;
    width: 172px;
    height: 172px;
    background-color: #fff;
    margin: 13px 0px 0px 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skill-circle-two {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: 800;
    color: #ff831d;
  }
  .inner-circle-one {
    text-align: center;
    width: 130px;
    height: 130px;
    background: #fff;
    border-radius: 50%;
  }
  .skill-one h3 {
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
  }
  
  /* skills end */
  
  /* new project start */
  .new-project {
    margin-top: 40px;
    background: #8dc63f;
    padding-top: 5px;
    padding-bottom: 36px;
    justify-items: center;
  }
  .new-project h3 {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  .new-project form {
    display: flex;
    gap: 10px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .new-project input {
    padding: 3px 8px;
    height: 26px;
    font-size: 11px;
    border-radius: 5px;
    border: transparent;
    box-shadow: inset gray;
  }
  .new-project button {
    padding: 3px 8px;
    height: 30px;
    font-size: 11px;
    border-radius: 5px;
    border: transparent;
    float: left;
    background-color: #e8cb37;
    text-align: center;
    align-items: center;
    box-shadow: 0px 3px #ff831d;
    font-weight: 540;
  }
  .new-project p {
    padding: 8px 0px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    width: 500px;
  }
  /* new project end */
  
  /* contact start */
  .contact {
    margin-top: 30px;
    background-color: #fff;
  }
  .contact-head-section {
    justify-items: center;
  }
  .contact-head-section h3 {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: black;
  }
  .contact-head-section span {
    color: #668e19;
  }
  .contact-head-section p {
    padding: 8px 48px;
    font-size: 12px;
    color: gray;
    text-align: center;
    width: 500px;
  }
  
  .contact-content-section {
    font-size: 12px;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
    justify-items: center;
    height: 100%;
    width: 100% !important;
    overflow: hidden;
  }

  
  .contact-p {
    display: flex;
    gap: 8px;
  }
  
  .contact-p  , .contact-p p{
    font-size: 12px;
  }
  
  .contact-main-content {
    display: flex;
    justify-content: space-between;
    margin: 0px 14px;
  }
  .contact-map {
    position: relative;
    max-height: 800px;
    max-width: 2000px;
    margin-top: 18px;
  }
  .contact-num {
    font-size: 14px;
    color: black;
    gap: 8px;
    align-items: center;
    display: flex;
    margin-left: 8px;
  }
  
  /* contact end */
  
  /* footer start */
  .footer {
    background-color: #668e19;
    display: block;
    color: white;
    padding: 60px 90px 60px 60px;
    justify-content: space-between;
    justify-items: left;
    align-items: center;
  }
  .footer-sec-one {
    width: 20rem;
    font-size: 15px;
    margin-bottom: 40px;
  }
  .footer-icons {
    display: flex;
  }
  .footer h3 {
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
  }
  .footer li{
    font-size: 14px;
    margin-bottom:10px;
    margin-left: -35px;
  }
  .footer-num {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: -15px;
    font-size: 12px;
  }
  .footer-services, .footer-links{
    margin-bottom: 30px;
  }
  .footer img{
    height: 40%;
    width: 40%;
  }
  
  .footer-icons {
    margin-left: -3px;
    display: flex;
  }
  .footer-icon-one {
    background: rgba(47, 47, 47, 0.971);
    margin: 4px;
    height: 20px;
    width: 20px;
    color: #8cc424;
    border-radius: 9999px;
    justify-items: center;
  }
  .footer-icon-one-text-a {
    text-align: center;
    font-size: 16px;
  }
  .footer-icon-one-text-b {
    margin-top: 2.5px;
    text-align: center;
    font-size: 12px;
  }
  .footer-icon-one-text-c {
    margin-top: 2px;
    text-align: center;
    font-size: 12px;
  }
  .footer-icon-one-text-d {
    margin-top: 2px;
    text-align: center;
    font-size: 14px;
  }
  .footer-icon-one-text-e {
    margin-top: 5px;
    text-align: center;
    font-size: 9px;
  }
  
  /* footer end */
  
  li {
    list-style: none;
  }
}
@media screen and (max-width: 800px) and (min-width: 700px){
  *{
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar-toggle{
    display: none;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  body {
    margin-top: -8px;
    margin-right: -0px;
    margin-left: -9px;
  }
  .nav-one {
    margin-left: 9px;
    justify-content: space-between;
    display: flex;
    padding: 2px 8px;
    height: 35px;
    background-color: rgb(59, 59, 59);
    align-items: center;
  }
  .nav-icons {
    display: flex;
  }
  .nav-icon-one {
    background: gray;
    margin: 4px;
    height: 20px;
    width: 20px;
    color: rgb(216, 216, 216);
    border-radius: 9999px;
    justify-items: center;
  }
  .nav-icon-one-text-a {
    text-align: center;
    font-size: 16px;
  }
  .nav-icon-one-text-b {
    margin-top: 2.5px;
    text-align: center;
    font-size: 12px;
  }
  .nav-icon-one-text-c {
    margin-top: 2px;
    text-align: center;
    font-size: 12px;
  }
  .nav-icon-one-text-d {
    margin-top: 2px;
    text-align: center;
    font-size: 14px;
  }
  .nav-icon-one-text-e {
    margin-top: 5px;
    text-align: center;
    font-size: 9px;
  }
  .nav-one-contact {
    gap: 10px;
    align-items: center;
    color: white;
    display: flex;
    font-size: 12px;
  }
  
  .navvv {
    align-items: center;
    gap: 5px;
    display: flex;
    align-items: center;
  }
  
  .nav-one-btn {
    align-items: center;
    font-size: 12px;
    border-radius: 6%;
    border: transparent;
    height: 20px;
    background-color: #a2d84c;
    box-shadow: 2px rgb(74, 77, 73);
  }
  /* navbar on end */
  
  /* navbar two start */
  .nav-two {
    display: flex;
    justify-content: space-between;
    background: #fff;
    height: 65px;
    width: auto;
    padding-left: 20px;
    padding-right: 10px;
    align-items: center;
  }
  .nav-two-text {
    display: flex;
    list-style: none;
    gap: 10px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: lighter;
  }
  /* navbar two end */
  
  /* home start */
  .home {
    position: absolute;
    display: flex;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    margin: 0px 0px 150px 0px;
  }
  
  .home-bg {
    overflow: hidden;
    z-index: -1;
    position: absolute;
    display: flex;
    width: 100%;
  }
  
  .home-content {
    z-index: 1;
    position: relative;
    color: white;
    margin-top: 120px;
    justify-items: center;
  }
  
  .home-content h1 {
    font-size: 25px;
    text-transform: uppercase;
  }
  .home-head-div {
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .home-empty-one {
    height: 70px;
    width: 260px;
    background-color: #a2d84c;
  }
  .home-empty-two {
    height: 70px;
    width: 260px;
    background-color: #a2d84c;
  }
  .home-p {
    max-width: 400px;
    min-width: 100px;
    font-size: 11px;
    text-align: center;
  }
  .home-btn {
    border-radius: 3px;
    background: #ffbd1a;
    box-shadow: 0.6px 3px #ed9622;
    border: #ed9622;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    text-transform: uppercase;
  }
  /* home end */
  
  /* why us section start */
  .why-us {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 50px;
    justify-items: center;
    text-align: center;
    border: #d9dbdc;
    border-top: 3px gray solid;
  }
  
  .why-h {
    font-size: 30px;
    text-transform: uppercase;
  }
  .why-h-span {
    color: #668e19;
  }
  .why-p {
    color: #bcbec0;
    font-size: 13px;
    max-width: 500px;
    min-width: 300px;
  }
  .why-box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10px;
  }
  .why-one {
    justify-items: center;
  }
  
  .why-img {
    background-color: #f1f2f2;
    border-radius: 9999px;
    width: 155px;
    height: 135px;
    padding-top: 25px;
  }
  .why-content {
    width: 220px;
  }
  .why-p-two {
    font-size: 11px;
    color: #bcbec0;
  }
  .why-p-one {
    font-size: 19px;
    text-transform: uppercase;
  }
  /* why us section start */
  
  /* about us start */
  .aboutus {
    border: #d9dbdc;
    border-top: 3px gray solid;
    position: relative;
    height: screen;
  }
  .about-img {
    position: absolute;
    height: 100%;
  }
  .about-h {
    margin-bottom: 0px;
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    align-items: center;
    text-align: center;
  }
  .about-h-span {
    color: #668e19;
  }
  .about-content {
    justify-items: left;
    padding-top: 2px;
    position: relative;
    margin-left: 50px;
    max-width: 450px;
    min-width: 300px;
    font-size: 15px;
  }
  .about-content p{
    
    font-size: 14px;
  }
  .about-btn {
    border-radius: 3px;
    margin-top: 0px;
    background: #ffbd1a;
    box-shadow: 0.6px 3px #ff831d;
    border: #ff831d;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  /* about end */
  
  /* services start */
  .services {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 50px;
    justify-items: center;
    text-align: center;
    border: #d9dbdc;
    border-top: 3px gray solid;
  }
  .ser-h {
    font-size: 30px;
    text-transform: uppercase;
  }
  .ser-h-span {
    color: #668e19;
  }
  .ser-p {
    color: #bcbec0;
    font-size: 13px;
    max-width: 500px;
    min-width: 300px;
  }
  
  .ser-boxs {
    gap: 30px;
    display: grid;
    grid-template-columns: auto auto  ;
    justify-items: center;
  }
  
  .ser-box-one {
    background-color: #f1f2f2;
    justify-items: center;
    max-width: 110px;
    height: 130px;
    width:90px;
    padding: 40px 80px;
    margin-top: 64px;
  }
  .ser-box-one-img {
    position: relative;
    margin-top: -85px;
    height: 90px;
    width: 90px;
  }
  .ser-box-one h3 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .ser-box-one p {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #afb1b4;
    text-align: center;
    width: 13rem;
  }
  .ser-box-one a {
    font-size: 13px;
    color: #668e19;
  }
  
  /* services end */
  
  /* portfolio start */
  .portfolio {
    background-color: #212121;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
    justify-items: center;
    text-align: center;
    border: #d9dbdc;
    border-top: 3px gray solid;
  }
  .port-h {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
  }
  .port-h-span {
    color: #668e19;
  }
  .port-p {
    color: #bcbec0;
    font-size: 12px;
    max-width: 500px;
    min-width: 300px;
  }
  .port-div {
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .port-div-ul {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    font-size: 11px;
    gap: 0px;
    justify-items: center;
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;
  }
  .port-div-ul li{
    margin-left: 20px;
  }
  .port-imgs-div-one {
    justify-items: center;
    margin-top: 28px;
    display: grid;
    grid-template-columns: auto auto 
  }
  .img2 {
    background-color: #5e5e5e;
  }
  .img3 {
    background-color: #d1d3d4;
  }
  .img4 {
    background-color: #838383;
  }
  .img5 {
    background-color: #a3a3a3;
  }
  .img6 {
    background-color: #ef4136;
  }
  /* portfolio end */
  
  /* process start */
  .process {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 50px;
    justify-items: center;
    text-align: center;
    border: #d9dbdc;
    border-top: 3px gray solid;
  }
  
  .pro-h {
    font-size: 30px;
    text-transform: uppercase;
  }
  .pro-h-span {
    color: #668e19;
  }
  .pro-p {
    color: #bcbec0;
    font-size: 13px;
    max-width: 550px;
    min-width: 300px;
  }
  .pro-box {
    overflow: hidden;
    border: 2px solid transparent;
    height: fit-content;
    width: 740px;
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto  ;
    grid-gap: 49px;
  }
  .pro-one {
    justify-items: center;
  }
  
  .pro-p-two {
    width: 150px;
    font-size: 13px;
    color: #bcbec0;
  }
  .pro-p-one {
    font-size: 15px;
    font-weight: lighter;
    text-transform: uppercase;
  }
  
  .pro-img img {
    background-color: #fff;
    border: #dadcdd 3px solid;
    border-radius: 9999px;
    width: 130px;
    height: 130px;
    justify-items: center;
  }
  .pro-img-ph img {
    background-color: #fff;
    border: #dadcdd 3px solid;
    border-radius: 9999px;
    width: 130px;
    height: 130px;
  }
  .pro-img-gear {
    margin-right: -8px;
    background-color: #fff;
    border: #dadcdd 3px solid;
    border-radius: 9999px;
    width: 120px;
    height: 80px;
    padding-top: 60px;
    padding-right: 20px;
    margin-left: -10px;
    justify-items: center;
  }
  .mini-content-one {
    margin-left: 0px;
    position: relative;
    margin-bottom: -15px;
    font-weight: 800;
    height: 30px;
    width: 30px;
    background-color: #ffbd1a;
    border-radius: 9999px;
  }
  .mini-content {
    margin-left: 60px;
    position: relative;
    margin-bottom: -15px;
    font-weight: 800;
    height: 30px;
    width: 30px;
    background-color: #ffbd1a;
    border-radius: 9999px;
  }
  .mini-content p {
    padding-top: 3px;
  }
  .pro-one .mini-content-one::after {
    content: "";
    position: absolute;
    top: 300%;
    left: 270%;
    height: 4px;
    width: 64px;
    background-color: #d6d7d8;
    overflow-x: hidden;
  }
  .pro-two .mini-content::after {
    content: "";
    position: absolute;
    top: 300%;
    left: 270%;
    height: 4px;
    width: 64px;
    background-color: #d6d7d8;
    overflow-x: hidden;
  }
  .pro-four .mini-content::after {
    content: "";
    position: absolute;
    top: 300%;
    left: 250%;
    height: 4px;
    width: 70px;
    background-color: #d6d7d8;
    overflow-x: hidden;
  }
  .pro-five .mini-content::after {
    content: "";
    position: absolute;
    top: 300%;
    left: 270%;
    height: 4px;
    width: 64px;
    background-color: #d6d7d8;
    overflow-x: hidden;
  }
  /* process section end */
  
  /* people about us start */
  .people {
    background-color: #e3e4e5;
    border: #d9dbdc;
    border-top: 3px gray solid;
    position: relative;
    height: screen;
    padding-top: 10px;
    justify-items: center;
  }
  .people-h {
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    align-items: center;
    text-align: center;
  }
  .people-h-span {
    color: #668e19;
  }
  .people-p {
    color: #bcbec0;
    font-size: 12px;
    max-width: 500px;
    min-width: 300px;
    text-align: center;
  }
  
  .peoples {
    padding: 28px 50px 70px 50px;
    display: grid;
    grid-template-columns: auto ;
    justify-items: center;
    grid-gap: 10px;
  }
  .peo-box-one {
    border-bottom: 2px solid #c3c3c4;
    display: flex;
    padding: 15px 10px;
    gap: 20px;
    max-width: 500px;
    min-width: 300px;
    align-items: center;
  }
  
  .peo-box-two {
    border-bottom: 2px solid #c3c3c4;
    display: flex;
    padding: 15px 10px;
    gap: 20px;
    max-width: 500px;
    min-width: 300px;
    align-items: center;
  }
  
  .peo-box-three {
    border-bottom: 2px solid #c3c3c4;
    display: flex;
    padding: 15px 10px;
    gap: 20px;
    max-width: 500px;
    min-width: 300px;
    align-items: center;
  }
  
  .peo-box-four {
    display: flex;
    padding: 15px 20px;
    gap: 20px;
    max-width: 500px;
    min-width: 300px;
    align-items: center;
  }
  
  .peo-box-one-content h3 {
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
  }
  .peo-box-one-content p {
    font-weight: 100;
    font-size: 14px;
  }
  
  /* people about us end */
  
  /* skills start */
  .skill {
    padding-top: 10px;
    background-color: #fff;
    border: #d9dbdc;
    border-top: 3px gray solid;
    position: relative;
    height: screen;
    justify-items: center;
  }
  .skill-h {
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
  }
  .skill-h-span {
    color: #668e19;
  }
  .skill-p {
    color: #bcbec0;
    font-size: 12px;
    max-width: 500px;
    min-width: 300px;
    text-align: center;
  }
  
  .skills {
    justify-content: center;
    display: grid;
    grid-template-columns: auto  auto  ;
    gap: 90px;
    width: 805px;
    height: fit-content;
    justify-items: center;
    margin: auto;
    margin-top: 40px;
  }
  .skill-one {
    justify-items: center;
    align-items: center;
  }
  .skill-circles {
    position: relative;
  }
  .skill-one {
    height: 100%;
    width: 200px;
    text-align: center;
  }
  .skill-circle-one {
    position: relative;
    width: 172px;
    height: 172px;
    background-color: #fff;
    margin: 13px 0px 0px 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skill-circle-two {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: 800;
    color: #ff831d;
  }
  .inner-circle-one {
    text-align: center;
    width: 130px;
    height: 130px;
    background: #fff;
    border-radius: 50%;
  }
  .skill-one h3 {
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
  }
  
  /* skills end */
  
  /* new project start */
  .new-project {
    margin-top: 40px;
    background: #8dc63f;
    padding-top: 5px;
    padding-bottom: 36px;
    justify-items: center;
  }
  .new-project h3 {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  .new-project form {
    display: grid;
    grid-template-columns: auto auto ;
    gap: 10px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .new-project input {
    padding: 3px 8px;
    height: 26px;
    font-size: 11px;
    border-radius: 5px;
    border: transparent;
    box-shadow: inset gray;
  }
  .new-project button {
    padding: 3px 8px;
    height: 30px;
    font-size: 11px;
    border-radius: 5px;
    border: transparent;
    float: left;
    background-color: #e8cb37;
    text-align: center;
    align-items: center;
    box-shadow: 0px 3px #ff831d;
    font-weight: 540;
  }
  .new-project p {
    padding: 8px 0px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    width: 400px;
  }
  /* new project end */
  
  /* contact start */
  .contact {
    margin-top: 30px;
    background-color: #fff;
  }
  .contact-head-section {
    justify-items: center;
  }
  .contact-head-section h3 {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: black;
  }
  .contact-head-section span {
    color: #668e19;
  }
  .contact-head-section p {
    padding: 8px 48px;
    font-size: 12px;
    color: gray;
    text-align: center;
    width: 400px;
  }
  
  .contact-content-section {
    font-size: 12px;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
    justify-items: center;
    height: 100%;
    width: 100% !important;
    overflow: hidden;
  }

  
  .contact-p {
    display: flex;
    gap: 8px;
  }
  
  .contact-p  , .contact-p p{
    font-size: 11px;
  }
  
  .contact-main-content {
    display: flex;
    justify-content: space-between;
    margin: 0px 14px;
  }
  .contact-map {
    position: relative;
    max-height: 800px;
    max-width: 2000px;
    margin-top: 18px;
  }
  .contact-num {
    font-size: 12px;
    color: black;
    gap: 8px;
    align-items: center;
    display: flex;
    margin-left: 8px;
  }
  
  /* contact end */
  
  /* footer start */
  .footer {
    background-color: #668e19;
    display: block;
    color: white;
    padding: 60px 90px 60px 70px;
    justify-content: space-between;
    justify-items: left;
    align-items: center;
  }
  .footer-sec-one {
    width: 20rem;
    font-size: 14.50px;
    margin-bottom: 40px;
  }
  .footer-icons {
    display: flex;
  }
  .footer h3 {
    margin-bottom: 10px;
    font-size: 22px;
    text-transform: uppercase;
  }
  .footer li{
    font-size: 13px;
    margin-bottom:10px;
    margin-left: -40px;
  }
  .footer-num {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: -15px;
    font-size: 12px;
  }
  .footer-services, .footer-links{
    margin-bottom: 30px;
  }
  .footer img{
    height: 40%;
    width: 40%;
  }
  
  .footer-icons {
    margin-left: -3px;
    display: flex;
  }
  .footer-icon-one {
    background: rgba(47, 47, 47, 0.971);
    margin: 4px;
    height: 20px;
    width: 20px;
    color: #8cc424;
    border-radius: 9999px;
    justify-items: center;
  }
  .footer-icon-one-text-a {
    text-align: center;
    font-size: 16px;
  }
  .footer-icon-one-text-b {
    margin-top: 2.5px;
    text-align: center;
    font-size: 12px;
  }
  .footer-icon-one-text-c {
    margin-top: 2px;
    text-align: center;
    font-size: 12px;
  }
  .footer-icon-one-text-d {
    margin-top: 2px;
    text-align: center;
    font-size: 14px;
  }
  .footer-icon-one-text-e {
    margin-top: 5px;
    text-align: center;
    font-size: 9px;
  }
  
  /* footer end */
  
  li {
    list-style: none;
  }
}
@media screen and (max-width: 700px) and (min-width: 500px){
  *{
    font-family: Arial, Helvetica, sans-serif;
  }
  .navvvvvvvvv{
    display: none;
  }
  .navbar-toggle{
    z-index: 2;
    padding-right: 20px;
    position: relative;
  }
  .navbaricon{
    display: block; 
    position: absolute; 
    z-index: 0;
  }
  .navbar-menu{
    position: absolute; 
    z-index: 1;
    margin-right: 20px;
    display: none;
    width: 100px;
    height: fit-content;
    margin-top: 20px;
    background: #000;
    color: #fff;
    right: 0;
    align-items: center;
    padding: 20px 26px;
  }
  .navbar-menu li {
    margin-bottom: 8px;
    font-size: 13px;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  body {
    margin-top: -8px;
    margin-right: -0px;
    margin-left: -9px;
  }
  .nav-one {
    margin-left: 9px;
    justify-content: space-between;
    display: flex;
    padding: 2px 8px;
    height: 35px;
    background-color: rgb(59, 59, 59);
    align-items: center;
  }
  .nav-icons {
    display: flex;
  }
  .nav-icon-one {
    background: gray;
    margin: 4px;
    height: 20px;
    width: 20px;
    color: rgb(216, 216, 216);
    border-radius: 9999px;
    justify-items: center;
  }
  .nav-icon-one-text-a {
    text-align: center;
    font-size: 16px;
  }
  .nav-icon-one-text-b {
    margin-top: 2.5px;
    text-align: center;
    font-size: 12px;
  }
  .nav-icon-one-text-c {
    margin-top: 2px;
    text-align: center;
    font-size: 12px;
  }
  .nav-icon-one-text-d {
    margin-top: 2px;
    text-align: center;
    font-size: 14px;
  }
  .nav-icon-one-text-e {
    margin-top: 5px;
    text-align: center;
    font-size: 9px;
  }
  .nav-one-contact {
    gap: 5px;
    align-items: center;
    color: white;
    display: flex;
    font-size: 11px;
  }
  
  .navvv {
    align-items: center;
    gap: 4px;
    display: flex;
    align-items: center;
  }
  
  .nav-one-btn {
    align-items: center;
    font-size: 11px;
    border-radius: 6%;
    border: transparent;
    height: 18px;
    background-color: #a2d84c;
    box-shadow: 2px rgb(74, 77, 73);
  }
  /* navbar on end */
  
  /* navbar two start */
  .nav-two {
    display: flex;
    justify-content: space-between;
    background: #fff;
    height: 65px;
    width: auto;
    padding-left: 20px;
    padding-right: 10px;
    align-items: center;
  }
  .nav-two-text {
    display: flex;
    list-style: none;
    gap: 10px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: lighter;
  }
  /* navbar two end */
  
  /* home start */
  .home {
    position: absolute;
    display: flex;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: auto auto 150px auto;
    justify-items: center;
  }
  
  .home-bg {
    overflow: hidden;
    z-index: -1;
    position: absolute;
    display: flex;
    width: 100%;
  }
  
  .home-content {
    z-index: 1;
    position: relative;
    color: white;
    margin-top: 120px;
    justify-items: center;
  }
  
  .home-content h1 {
    font-size: 30px;
    text-transform: uppercase;
  }
  .home-head-div {
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    gap: 0px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .home-empty-one {
    display: hidden;
  }
  .home-empty-two {
    display: hidden;
  }
  .home-p {
    max-width: 350px;
    min-width: 100px;
    font-size: 12px;
    text-align: center;
  }
  .home-btn {
    border-radius: 3px;
    background: #ffbd1a;
    box-shadow: 0.6px 3px #ed9622;
    border: #ed9622;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    text-transform: uppercase;
  }
  /* home end */
  
  /* why us section start */
  .why-us {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 50px;
    justify-items: center;
    text-align: center;
    border: #d9dbdc;
    border-top: 3px gray solid;
  }
  
  .why-h {
    font-size: 25px;
    text-transform: uppercase;
  }
  .why-h-span {
    color: #668e19;
  }
  .why-p {
    color: #bcbec0;
    font-size: 12px;
    max-width: 400px;
    min-width: 300px;
  }
  .why-box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
  }
  .why-one {
    justify-items: center;
  }
  
  .why-img {
    background-color: #f1f2f2;
    border-radius: 9999px;
    width: 155px;
    height: 135px;
    padding-top: 25px;
  }
  .why-content {
    width: 220px;
  }
  .why-p-two {
    font-size: 11px;
    color: #bcbec0;
  }
  .why-p-one {
    font-size: 19px;
    text-transform: uppercase;
  }
  /* why us section start */
  
  /* about us start */
  .aboutus {
    border: #d9dbdc;
    border-top: 3px gray solid;
    position: relative;
    height: screen;
    overflow: hidden;
    max-width: 500px;
  }
  .about-img {
    position: absolute;
    height: 100%;
    overflow: hidden;
  }
  .about-h {
    margin-bottom: 0px;
    font-weight: bolder;
    font-size: 25px;
    text-transform: uppercase;
    position: relative;
    align-items: center;
    text-align: center;
  }
  .about-h-span {
    color: #668e19;
  }
  .about-content {
    justify-items: left;
    padding-top: 2px;
    position: relative;
    margin-left: 50px;
    max-width: 350px;
    min-width: 300px;
    font-size: 15px;
  }
  .about-content p{
    
    font-size: 14px;
  }
  .about-btn {
    border-radius: 3px;
    margin-top: 0px;
    background: #ffbd1a;
    box-shadow: 0.6px 3px #ff831d;
    border: #ff831d;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  /* about end */
  
  /* services start */
  .services {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 50px;
    justify-items: center;
    text-align: center;
    border: #d9dbdc;
    border-top: 3px gray solid;
  }
  .ser-h {
    font-size: 25px;
    text-transform: uppercase;
  }
  .ser-h-span {
    color: #668e19;
  }
  .ser-p {
    color: #bcbec0;
    font-size: 12px;
    max-width: 400px;
    min-width: 300px;
  }
  
  .ser-boxs {
    gap: 30px;
    display: grid;
    grid-template-columns: auto ;
    justify-items: center;
  }
  
  .ser-box-one {
    background-color: #f1f2f2;
    justify-items: center;
    max-width: 110px;
    height: 130px;
    width:90px;
    padding: 40px 80px;
    margin-top: 64px;
  }
  .ser-box-one-img {
    position: relative;
    margin-top: -85px;
    height: 90px;
    width: 90px;
  }
  .ser-box-one h3 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .ser-box-one p {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #afb1b4;
    text-align: center;
    width: 13rem;
  }
  .ser-box-one a {
    font-size: 13px;
    color: #668e19;
  }
  
  /* services end */
  
  /* portfolio start */
  .portfolio {
    background-color: #212121;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
    justify-items: center;
    text-align: center;
    border: #d9dbdc;
    border-top: 3px gray solid;
  }
  .port-h {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
  }
  .port-h-span {
    color: #668e19;
  }
  .port-p {
    color: #bcbec0;
    font-size: 12px;
    max-width: 400px;
    min-width: 200px;
  }
  .port-div {
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .port-div-ul {
    display: flex;
    text-transform:capitalize;
    justify-content: center;
    font-size: 10px;
    gap: 0px;
    justify-items: center;
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;
  }
  .port-div-ul li{
    margin-left: 20px;
  }
  .port-imgs-div-one {
    justify-items: center;
    margin-top: 28px;
    display: grid;
    grid-template-columns: auto ; 
  }
  .img2 {
    background-color: #5e5e5e;
  }
  .img3 {
    background-color: #d1d3d4;
  }
  .img4 {
    background-color: #838383;
  }
  .img5 {
    background-color: #a3a3a3;
  }
  .img6 {
    background-color: #ef4136;
  }
  /* portfolio end */
  
  /* process start */
  .process {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 50px;
    justify-items: center;
    text-align: center;
    border: #d9dbdc;
    border-top: 3px gray solid;
  }
  
  .pro-h {
    font-size: 25px;
    text-transform: uppercase;
  }
  .pro-h-span {
    color: #668e19;
  }
  .pro-p {
    color: #bcbec0;
    font-size: 12px;
    max-width: 400px;
    min-width: 200px;
  }
  .pro-box {
    overflow: hidden;
    border: 2px solid transparent;
    height: fit-content;
    width: 350px;
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 49px;
  }
  .pro-one {
    justify-items: center;
  }
  
  .pro-p-two {
    width: 140px;
    font-size: 12px;
    color: #bcbec0;
  }
  .pro-p-one {
    font-size: 15px;
    font-weight: lighter;
    text-transform: uppercase;
  }
  
  .pro-img img {
    background-color: #fff;
    border: #dadcdd 3px solid;
    border-radius: 9999px;
    width: 130px;
    height: 130px;
    justify-items: center;
  }
  .pro-img-ph img {
    background-color: #fff;
    border: #dadcdd 3px solid;
    border-radius: 9999px;
    width: 130px;
    height: 130px;
  }
  .pro-img-gear {
    margin-right: -8px;
    background-color: #fff;
    border: #dadcdd 3px solid;
    border-radius: 9999px;
    width: 120px;
    height: 80px;
    padding-top: 60px;
    padding-right: 20px;
    margin-left: -10px;
    justify-items: center;
  }
  .mini-content-one {
    margin-left: 0px;
    position: relative;
    margin-bottom: -15px;
    font-weight: 800;
    height: 30px;
    width: 30px;
    background-color: #ffbd1a;
    border-radius: 9999px;
  }
  .mini-content {
    margin-left: 60px;
    position: relative;
    margin-bottom: -15px;
    font-weight: 800;
    height: 30px;
    width: 30px;
    background-color: #ffbd1a;
    border-radius: 9999px;
  }
  .mini-content p {
    padding-top: 3px;
  }
  .pro-one .mini-content-one::after {
    content: "";
    position: absolute;
    top: 300%;
    left: 270%;
    height: 4px;
    width: 58px;
    background-color: #d6d7d8;
    overflow-x: hidden;
  }
  .pro-three .mini-content::after {
    content: "";
    position: absolute;
    top: 300%;
    left: 250%;
    height: 4px;
    width: 47px;
    background-color: #d6d7d8;
    overflow-x: hidden;
  }
  .pro-five .mini-content::after {
    content: "";
    position: absolute;
    top: 300%;
    left: 250%;
    height: 4px;
    width: 59px;
    background-color: #d6d7d8;
    overflow-x: hidden;
  }
  /* process section end */
  
  /* people about us start */
  .people {
    background-color: #e3e4e5;
    border: #d9dbdc;
    border-top: 3px gray solid;
    position: relative;
    height: screen;
    padding-top: 10px;
    justify-items: center;
  }
  .people-h {
    font-weight: bolder;
    font-size: 25px;
    text-transform: uppercase;
    position: relative;
    align-items: center;
    text-align: center;
  }
  .people-h-span {
    color: #668e19;
  }
  .people-p {
    color: #bcbec0;
    font-size: 12px;
    max-width: 400px;
    min-width: 200px;
    text-align: center;
  }
  
  .peoples {
    padding: 28px 50px 70px 50px;
    display: grid;
    grid-template-columns: auto ;
    justify-items: center;
    grid-gap: 10px;
  }
  .peo-box-one {
    border-bottom: 2px solid #c3c3c4;
    display: flex;
    padding: 15px 10px;
    gap: 15px;
    max-width: 400px;
    min-width: 300px;
    align-items: center;
  }
  
  .peo-box-two {
    border-bottom: 2px solid #c3c3c4;
    display: flex;
    padding: 15px 10px;
    gap: 15px;
    max-width: 400px;
    min-width: 300px;
    align-items: center;
  }
  
  .peo-box-three {
    border-bottom: 2px solid #c3c3c4;
    display: flex;
    padding: 15px 10px;
    gap: 15px;
    max-width: 400px;
    min-width: 300px;
    align-items: center;
  }
  
  .peo-box-four {
    display: flex;
    padding: 15px 20px;
    gap: 15px;
    max-width: 400px;
    min-width: 300px;
    align-items: center;
  }
  
  .peo-box-one-content h3 {
    font-weight: 100;
    font-size: 17px;
    text-transform: uppercase;
  }
  .peo-box-one-content p {
    font-weight: 100;
    font-size: 12px;
  }
  
  /* people about us end */
  
  /* skills start */
  .skill {
    padding-top: 10px;
    background-color: #fff;
    border: #d9dbdc;
    border-top: 3px gray solid;
    position: relative;
    height: screen;
    justify-items: center;
  }
  .skill-h {
    font-weight: bolder;
    font-size: 25px;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
  }
  .skill-h-span {
    color: #668e19;
  }
  .skill-p {
    color: #bcbec0;
    font-size: 12px;
    max-width: 400px;
    min-width: 200px;
    text-align: center;
  }
  
  .skills {
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
    width: 805px;
    height: fit-content;
    justify-items: center;
    margin-top: 40px;
  }
  .skill-one {
    justify-items: center;
    align-items: center;
  }
  .skill-circles {
    position: relative;
  }
  .skill-one {
    height: 100%;
    width: 200px;
    text-align: center;
  }
  .skill-circle-one {
    position: relative;
    width: 172px;
    height: 172px;
    background-color: #fff;
    margin: 13px 0px 0px 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skill-circle-two {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: 800;
    color: #ff831d;
  }
  .inner-circle-one {
    text-align: center;
    width: 130px;
    height: 130px;
    background: #fff;
    border-radius: 50%;
  }
  .skill-one h3 {
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
  }
  
  /* skills end */
  
  /* new project start */
  .new-project {
    margin-top: 40px;
    background: #8dc63f;
    padding-top: 5px;
    padding-bottom: 36px;
    justify-items: center;
  }
  .new-project h3 {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  .new-project form {
    display: grid;
    grid-template-columns: auto auto ;
    gap: 10px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .new-project input {
    padding: 3px 5px;
    height: 20px;
    font-size: 11px;
    border-radius: 5px;
    border: transparent;
    box-shadow: inset gray;
  }
  .new-project button {
    padding: 3px 5px;
    height: 25px;
    font-size: 10px;
    border-radius: 5px;
    border: transparent;
    float: left;
    background-color: #e8cb37;
    text-align: center;
    align-items: center;
    box-shadow: 0px 3px #ff831d;
    font-weight: 540;
  }
  .new-project p {
    padding: 8px 0px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    width: 400px;
  }
  /* new project end */
  
  /* contact start */
  .contact {
    margin-top: 30px;
    background-color: #fff;
  }
  .contact-head-section {
    justify-items: center;
  }
  .contact-head-section h3 {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    color: black;
  }
  .contact-head-section span {
    color: #668e19;
  }
  .contact-head-section p {
    padding: 8px 48px;
    font-size: 11px;
    color: gray;
    text-align: center;
    width: 400px;
  }
  
  .contact-content-section {
    font-size: 11px;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
    justify-items: center;
    height: 100%;
    width: 100% !important;
    overflow: hidden;
  }

  
  .contact-p {
    display: flex;
    gap: 8px;
  }
  
  .contact-p  , .contact-p p{
    font-size: 11px;
  }
  
  .contact-main-content {
    display: flex;
    justify-content: space-between;
    margin: 0px 14px;
  }
  .contact-map {
    position: relative;
    max-height: 500px;
    max-width: 600px;
    margin-top: 18px;
  }
  .contact-num {
    font-size: 12px;
    color: black;
    gap: 8px;
    align-items: center;
    display: flex;
    margin-left: 8px;
  }
  
  /* contact end */
  
  /* footer start */
  .footer {
    background-color: #668e19;
    display: block;
    color: white;
    padding: 60px 90px 60px 70px;
    justify-content: space-between;
    justify-items: left;
    align-items: center;
  }
  .footer-sec-one {
    width: 15rem;
    font-size: 13px;
    margin-bottom: 30px;
  }
  .footer-icons {
    display: flex;
  }
  .footer h3 {
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
  }
  .footer li{
    font-size: 12px;
    margin-bottom:10px;
    margin-left: -40px;
  }
  .footer-num {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: -15px;
    font-size: 12px;
  }
  .footer-services, .footer-links{
    margin-bottom: 30px;
  }
  .footer img{
    height: 35%;
    width: 35%;
  }
  
  .footer-icons {
    margin-left: -3px;
    display: flex;
  }
  .footer-icon-one {
    background: rgba(47, 47, 47, 0.971);
    margin: 4px;
    height: 20px;
    width: 20px;
    color: #8cc424;
    border-radius: 9999px;
    justify-items: center;
  }
  .footer-icon-one-text-a {
    text-align: center;
    font-size: 16px;
  }
  .footer-icon-one-text-b {
    margin-top: 2.5px;
    text-align: center;
    font-size: 12px;
  }
  .footer-icon-one-text-c {
    margin-top: 2px;
    text-align: center;
    font-size: 12px;
  }
  .footer-icon-one-text-d {
    margin-top: 2px;
    text-align: center;
    font-size: 14px;
  }
  .footer-icon-one-text-e {
    margin-top: 5px;
    text-align: center;
    font-size: 9px;
  }
  
  /* footer end */
  
  li {
    list-style: none;
  }
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}
